.images-div > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: #ffeead;
}

.images-div > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.images-div {
	padding: 10px 20px;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows:100px;
     grid-auto-flow: dense;


}

.horizontal {
	  grid-column: auto / span 2;
}

.vertical {
	grid-row: span 2;
}

.big {
	 grid-column: span 2;
    grid-row: span 2;
}